/* GENERALES */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  color: white;
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

button {
  color: black;
  border: double black;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(164, 173, 166);
}

/* HEADER */
/* seccion 1*/
header .menuUno {
  background-color: #1A471C;
  padding: 5px 0px;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
header .menuUno .menuUno__uno {
  display: flex;
  flex-wrap: wrap;
}
header .menuUno .menuUno__uno .menuUno__item {
  border-right: 2px solid white;
  padding: 5px 15px 5px 15px;
}
header .menuUno .menuUno__dos {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
header .menuUno .menuUno__dos .menuUno__item {
  border-right: 2px solid white;
  padding: 5px 15px 5px 15px;
}

/* seccion 2 - bloquemedio */
header .bloquemedio {
  background-image: url(../imagenes/portada8.jpg);
  background-size: 450px 850px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header .bloquemedio .logo-titulo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .bloquemedio .logo-titulo h1 {
  font-size: 45px;
  text-shadow: 10px 15px 15px rgb(12, 11, 11);
  text-align: center;
}
header .bloquemedio .logo-titulo .logo {
  border-radius: 100px;
}
header .bloquemedio .buscador input {
  color: black;
}
header .bloquemedio .bloquemedio__derecha {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
header .bloquemedio .bloquemedio__derecha li {
  padding: 10px;
}
header .bloquemedio .bloquemedio__derecha li a:hover {
  color: black;
  transition: 0.3s;
  font-weight: bold;
}

/* seccion 3 - nav*/
header nav .menuDos {
  background-color: #1A471C;
  border-top: white double;
  border-bottom: white double;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  letter-spacing: 3px;
  margin: 0px;
}
header nav .menuDos .menuDos__all {
  position: relative;
}
header nav .menuDos .menuDos__all:hover .menuDos__all__submenu {
  display: block;
}
header nav .menuDos li {
  width: 170px;
  text-align: center;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
header nav .menuDos li:hover {
  transform: scale(1.1);
  transition: 0.2s;
  font-weight: bold;
}
header nav .menuDos li .menuDos__all__submenu {
  display: none;
  position: absolute;
  background-color: #1A471C;
  padding: 10px;
}
header nav .menuDos li .menuDos__all__submenu li {
  border: none;
  font-size: 13px;
  padding: 5px;
}

/* MAIN */
main {
  background-image: url(../imagenes/portada4.jpg);
  background-size: 700px 300px;
  padding: 20px;
}
main h2 {
  font-size: 30px;
  text-shadow: 2px 2px 4px black;
  padding: 30px;
}
main .seccion-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .seccion-main .articulo, main .seccion-main .promocion {
  padding: 10px;
  margin: 10px;
  background-color: #1A471C;
  border: 3px solid white;
  text-align: center;
}
main .seccion-main .articulo img, main .seccion-main .promocion img {
  border-radius: 80px;
}
main .seccion-main .articulo img:hover, main .seccion-main .promocion img:hover {
  animation: swing;
  animation-duration: 0.7s;
}
main .seccion-main .articulo h5, main .seccion-main .promocion h5 {
  font-size: 20px;
}
main .seccion-main .promocion {
  padding: 15px;
  height: 450px;
  width: 400px;
}

/* FOOTER */
.footer {
  background-color: #1A471C;
  border-top: white double;
  border-bottom: white double;
  padding: 20px;
  margin: 0;
}
.footer .seccion-footer {
  border-right: 2px solid white;
  border-left: 2px solid white;
  padding: 5px 5px 5px 30px;
}
.footer .seccion-footer img {
  border-radius: 5px;
}
.footer .seccion-footer h4 {
  padding: 0 0 20px 0;
  font-size: 16px;
}
.footer .seccion-footer a:hover {
  color: black;
  font-weight: bold;
  transition: 0.2s;
}

/* PAG SERVICIO */
.seccion-servicio {
  margin: 0;
}
.seccion-servicio form, .seccion-servicio .vacio {
  background-color: #1A471C;
  border: 2px solid white;
  padding: 10px;
  margin: 5px;
}
.seccion-servicio form fieldset input, .seccion-servicio .vacio fieldset input {
  color: black;
  margin: 8px;
}
.seccion-servicio form fieldset div, .seccion-servicio .vacio fieldset div {
  margin-left: 10px;
}
.seccion-servicio .vacio {
  height: 150px;
  text-align: center;
}
.seccion-servicio #saldo-actual {
  padding: 15px;
  text-shadow: 2px 2px 4px black;
  padding: 30px;
}

/* PAG INFORMACION */
.info-seccion {
  background-color: #1A471C;
  border: 2px solid white;
  padding: 10px;
  text-align: justify;
}

/* PAG INFO - GALERIA FOTOS CLIENTES */
main section .galeria-clientes {
  display: flex;
  height: 500px;
  border: 2px solid white;
  padding: 30px;
  background-color: #1A471C;
}
main section .galeria-clientes .img-galeria {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
  border-radius: 80px;
}
main section .galeria-clientes .img-galeria:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/* RESPONSIVE */
/* cel */
@media (max-width: 486px) {
  header .menuUno {
    padding: 3px;
    font-size: 8px;
  }
  header .menuUno .menuUno__dos {
    display: none;
  }
  header .bloquemedio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  header .bloquemedio .buscador {
    display: none;
  }
  header .bloquemedio .logo-titulo h1 {
    font-size: 40px;
    padding: 4px;
  }
  h2 {
    text-align: center;
    padding-left: 90px;
  }
  .seccion-servicio form, .seccion-servicio .vacio {
    text-align: center;
    font-size: 13px;
  }
}
@media (max-width: 770px) {
  header .menuUno .menuUno__dos {
    display: none;
  }
}
@media (max-width: 599px) {
  main section .galeria-clientes {
    display: none;
  }
}
@media (min-width: 600px) {
  .galeria-cel {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
