/* FOOTER */

.footer {
    background-color: $color-fondo;
    @include borde-topbot;
    padding: 20px;
    margin: 0;
        .seccion-footer { 
            border-right: $bordes-menus;
            border-left: $bordes-menus;
            padding: 5px 5px 5px 30px;
            img {
                border-radius: 5px;
            }
            h4 {
                padding-bottom: 20px;
                font-size: 16px;
            }
            a {
                &:hover {
                    color: black;
                    font-weight: bold;
                    transition: 0.2s;
                }
            }
        }
    }
    