@import 'mixins';
@import 'maps-get';

/* HEADER */

header {
    /* seccion 1 - barra superior (datos contacto, saldo/cuenta*/
    .menuUno {
        background-color: $color-fondo;
        padding: 5px 0px;
        font-size: 11px;
        @include flex-wrap;
        justify-content: map-get($flex-espacio, between);
        height: 40px;
        .menuUno__uno {
            @include flex-wrap;
            .menuUno__item {
                border-right: $bordes-menus;
                padding: 5px 15px 5px 15px;
            }
        }
        .menuUno__dos {
            @extend .menuUno__uno;
            width: 200px;
        }
    }
    /* seccion 2 - bloquemedio (logo, buscador, wishlist/cart) */
    .bloquemedio {
        background-image: url(../imagenes/portada8.jpg);
        background-size: 450px 850px;
        padding: 15px;
        @include flex-wrap;
        justify-content: map-get($flex-espacio, between);
        align-items: center;
        .logo-titulo {
            @include flex-wrap;
            justify-content: map-get($flex-espacio, between);
            h1 {
                font-size: 45px;
                text-shadow: 10px 15px 15px rgb(12, 11, 11);
                text-align: center;
            }
            .logo {
                border-radius: 100px;
            }
        }
        .buscador {
            input {
                color: black;
                border-radius: 4px;
            }
        }
        .bloquemedio__derecha {
            @include flex-wrap;
            justify-content: map-get($flex-espacio, evenly);
            li {
                padding: 10px;
                a {
                    &:hover {
                        color: black;
                        transition: 0.3s;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    /* seccion 3 - nav*/
    nav {
        .menuDos {
            background-color: $color-fondo;
            @include borde-topbot;
            padding: 10px 20px;
            @include flex-wrap;
            justify-content: map-get($flex-espacio, around);
            letter-spacing: 3px;
            margin: 0px;
            .menuDos__all {
                position: relative;
                &:hover {
                    .menuDos__all__submenu {
                        display: block;
                    }
                }
            }
            li {
                width: 170px;
                text-align: center;
                border-right: $bordes-menus;
                border-left: $bordes-menus;
                &:hover {
                    transform: scale(1.1);
                    transition: 0.2s;
                    font-weight: bold;
                }
                .menuDos__all__submenu {
                    display: none;
                    position: absolute;
                    background-color: $color-fondo;
                    padding: 10px;
                    li {
                        border: none;
                        font-size: 13px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}
