/* PAG SERVICIO */

.seccion-servicio {
    margin: 0;
        form {
        background-color: #1A471C;
        border: 2px solid white;
        padding: 10px;
        margin: 5px;
            fieldset {
                input {
                color: black;
                margin: 8px;
                }
                div {
                margin-left: 10px;
                }
            }
        }
        .vacio {
        background-color: #1A471C;
        text-align: center;
        height: 150px;
        padding: 10px;
        margin: 5px;
        border: 2px solid white;
        }
        #saldo-actual {
        padding: 15px;
        text-shadow: 2px 2px 4px black;
        padding: 30px;
        }
    }
    
    