/* RESPONSIVE */
/* cel */
@media (max-width:486px) {
    header { 
        .menuUno {
        padding: 3px;
        font-size: 9px;
            .menuUno__dos {
            display: none;
            }
        }
        .bloquemedio {
            .buscador {
            display: none;
            }
            .logo-titulo {
                h1 {
                font-size: 40px;
                padding: 4px;
                }
            }
        }
    }
        
    h2 {
        text-align: center;
        padding-left: 90px;
    }
    .seccion-servicio{
        form {
        text-align: center;
        font-size: 13px;
        }
    }
} 

@media (max-width: 770px) {
    header {
        .menuUno {
            .menuUno__dos {
            display: none;
            }
        }
    }
}

@media (max-width: 599px) {
    main section {
        .galeria-clientes {
        display: none;
        }
    }
}

@media (min-width: 600px) {
    .galeria-cel {
        display: none;
    }
}

